final_data/*
colab_notebooks/
models/*
models_/
models_old/
hashing/
xhashing/
baselines/tensors/*.pt
wandb/

__pycache__/*
__pycache__/

!README.md

tmp/

nb*
*.pkl

*gt/
*.log
*.hdf5

# links
*gt
audio_processed
speech_processed
.ipynb_checkpoints/
