opas_cembed:
    num_runs: 1

opas_gpu:
    num_runs: 5
    num_q: 400
    skip: 0
      
opas_cpu:
    num_runs: 5
    skip: 1
    
sharp:
    num_runs: 5
    num_q: 10
    skip: 1

fdtw:
    num_runs: 5
    num_q: 10
    skip: 1
              
sdtw:
    num_runs: 5
    num_q: 10
    skip: 1

mass:
    num_runs: 5
    num_c: 500
    num_q: 5
    skip: 0