[parseq_cembed]
num_runs = 1

[parseq_gpu]
num_runs = 20
num_q = 50
skip = 0
      
[parseq_cpu]
num_runs = 1
skip = 1

[mass]
num_runs = 5
num_c = 200
num_q = 5
skip = 0

[sharp]
num_runs = 20
num_q = 10
skip = 0

[fdtw]
num_runs = 20
num_q = 10
skip = 0
              
[sdtw]
num_runs = 20
num_q = 10
skip = 0
